.tab-button {
    padding: 12px 24px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 500;
    font-family: 'Orbitron', sans-serif;
    color: black;
    background: linear-gradient(90deg, #e0e0e0, #bdbdbd, #9e9e9e, #757575);

    transition: transform 0.2s, box-shadow 0.2s; 
}

button:hover {
  background: linear-gradient(90deg, #e0e0e0, #bdbdbd, #9e9e9e, #757575);
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
