@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;900&display=swap');


.root {
    margin-left: 25px;
    margin-right: 25px;
}

.title-bar {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
    color: rgba(211, 211, 211, 0.8);
    text-shadow: 0 0 10px rgba(211, 211, 211, 0.5), 0 0 20px rgba(211, 211, 211, 0.3);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

@keyframes gradient {
    0% {
	background-position: 0% 50%;
    }
    50% {
	background-position: 100% 50%;
    }
    100% {
	background-position: 0% 50%;
    }
}

